
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    background-color: #007bff;
    width: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

body.fade-in {
    animation: fadeInUp 1s ease-out forwards;
}

body.fade-in > * {
    animation: fadeInUp 1s ease-out forwards;
}

h2.baydee {
    font-size: 36px;
    margin: 0px 0px 0px 20px; 
    color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
}
h2.baydee:hover {
    transform: scale(1.08);
}
h1.inline {
    font-size: 24px;
    margin: 30px 0px; 
    text-align: center; 
    flex-grow: 1; 
    color: black;
    transition: transform 0.3s ease-in-out;
}
h1.inline:hover {
    transform: scale(1.08);
}
div.contact a {
    font-size: 18px; 
    text-decoration: none; 
    color: white; 
    transition: transform 0.3s ease-in-out;
}
div.contact:hover {
    transform: scale(1.01);
}

header > h2.baydee {
    order: 1; 
}

header > h1.inline {
    order: 2; 
}

header > div.contact {
    order: 3; 
    margin-left: auto; 
    margin-right: 40px;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

main {
    margin: 20px auto;
    padding: 0 20px;
}
.maindiv {
    display: flex;
}
@media (max-width: 980px) {
    .maindiv {
        display: block;
    }
}
section {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
section:hover {
    transform: scale(1.01);
}
h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.pfp-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 50%;
    margin: auto;
}
.emailtext {
    text-decoration: none;
    color: black;
}
.icons {
    width: 100px; 
    height: auto; 
    float: left; 
    margin-right: 10px;
}
.image-with-text {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
.image-with-text img {
    width: 100px; 
    height: auto; 
    float: left; 
    margin-right: 10px; 
}
.image-with-text div {
    flex: 1; 
}
.image-with-text p {
    margin: 0; 
}
